
<div class="row">
    <h1 align="center">Motivate Me</h1>
</div>


<div class="row" align="center">

    <button mat-raised-button color="primary" (click)="openDialog()">Contribute</button>

</div>

<div class="row" align="center">
    <div class="col-4">

    </div>
    <div class="col-4">
            <ng-container *ngFor="let item of items" >
        <mat-card class="cards" *ngIf="item.person" >
               
            <!-- <pre>{{ item | json }}</pre> -->
            <mat-card-title >{{item.quote}}</mat-card-title>
            <mat-card-subtitle align="right">{{item.person}}</mat-card-subtitle>
            <mat-card-subtitle align="right">{{item.createDt.seconds * 1000| date}}</mat-card-subtitle>
        
        </mat-card>
    </ng-container>
    </div>
    <div class="col-4"></div>

</div>
